.featured {
    width: 75%;
    height: 40rem;

    &-container {
        position: relative;
        width: 80%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

    &-poster {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        animation: show 0.7s forwards;

        img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            object-fit: cover;
        }
    }

    &-hidden {
        display: none;
    }

    &-cover {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;

        &__info {
            position: absolute;
            top: 30%;
            left: 5%;
            color: #fff;

            &-logo {
                width: 12rem;
            }

            &-description {
                max-width: 15rem;
                height: auto;
                margin-top: 1rem;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    margin-bottom: 1rem;
                }
            }

            &-buttons {
                margin-top: 1rem;

                display: flex;
                align-items: flex-end;

                button {
                    height: 3rem;
                    padding: 0 2rem;
                    border: none;
                    cursor: pointer;
                    font-weight: bold;
                    border-radius: 5px;
                }
            }

            &-buy {
                button {
                    font-size: 1rem;
                    margin-top: 0.5rem;
                    margin-right: 1rem;
                }
            }

            &-wishlist {
                button {
                    background-color: transparent;
                    color: #fff;
                    font-size: 0.8rem;

                    svg {
                        margin-right: 0.5rem;
                        width: 20px;
                        height: 20px;
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.15);
                    }
                }
            }
        }
    }

    &-list {
        width: 16rem;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &-item {
        width: 100%;
        height: 6.5rem;
        border-radius: 12px;
        cursor: pointer;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:hover {
            background-color: var(--light-gray);
        }

        &__image {
            width: 4.5rem;
            height: 80%;
            margin-left: 1rem;
            border-radius: 5px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }

        &__text {
            color: #fff;
            font-size: 0.8rem;
            margin-left: 1rem;
        }
    }

    &-active {
        background: linear-gradient(var(--light-gray), var(--light-gray)) var(--dark-gray) no-repeat 0 0;
        background-size: 0 100%;
        animation: stripes 7s linear 1 forwards;
    }

    @keyframes stripes {
        to {
            background-size: 100% 100%;
        }
    }
}

@keyframes show {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.carousel {
    width: 75%;
    margin-top: 4rem;

    &-top {
        width: 100%;

        &__title {
            color: #fff;
            font-size: 1.3rem;
        }

        &__navigation {
            height: 100%;

            &-inactive {
                background-color: var(--dark-gray);
                color: var(--lighter-gray);
                width: 30px;
                height: 100%;
                margin-left: 0.5rem;
                padding: 7px 0;
                border-radius: 50%;
                pointer-events: none;
            }

            &-active {
                background-color: var(--dark-gray);
                color: #fff;
                width: 30px;
                height: 100%;
                margin-left: 0.5rem;
                padding: 7px 0;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: var(--light-gray);
                }
            }
        }
    }

    &-bottom {
        position: relative;
        width: 100%;
        height: 25rem;
        margin-top: 1rem;
        z-index: 10;

        overflow: hidden;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &-inner {
        position: absolute;
        top: 0;
        left: 0%;
        z-index: 100;

        min-width: 15.2;
        height: auto;
        transition: all 0.5s linear;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &-item {
        max-width: 13.2rem;
        margin-right: 2rem;
        height: auto;

        &__image {
            position: relative;
            width: 100%;

            object-fit: contain;

            img {
                width: 100%;
                height: 17rem;
                object-fit: cover;
                border-radius: 5px;
            }
        }

        &__cover {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgb(0, 0, 0, 0.25);
            width: 100%;
            height: 100%;
            z-index: 50;
            border-radius: 5px;
        }

        &__name {
            color: #fff;
            display: inline-block;
            text-overflow: ellipsis;
        }

        &__price {
            color: #fff;
            margin-top: 1rem;
            font-size: 0.9rem;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            &-discount {
                background-color: var(--main-blue);
                padding: 4px 10px;
                border-radius: 5px;
            }

            &-original {
                text-decoration: line-through;
                padding: 3px 10px;
            }

            &-discounted {
                padding: 3px 10px;
            }
        }

        &__wishlist {
            position: absolute;
            top: 3%;
            right: 16%;
            z-index: 100;
            cursor: pointer;

            svg {
                color: white;
                background-color: black;
                outline: 2px solid white;
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }
    }
}

.promoted {
    width: 75%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &-inner[data-items="2"] {
        width: calc(100% / 2 - 16px);
    }
    &-inner[data-items="3"] {
        width: calc(100% / 3 - 16px);
    }

    &-inner {
        position: relative;
        color: #fff;

        &__image {
            position: relative;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        &__cover {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgb(0, 0, 0, 0.25);
            width: 100%;
            height: 99%;
            z-index: 50;
            border-radius: 10px;
        }

        &__wishlist {
            position: absolute;
            top: 3%;
            right: 5%;
            background-color: transparent;
            outline: none;
            border: none;
            z-index: 100;
            cursor: pointer;

            svg {
                color: white;
                background-color: black;
                outline: 2px solid white;
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }

        &__info {
            width: 90%;

            h2 {
                color: #fff;
                margin-top: 1rem;
            }

            div {
                color: var(--lighter-gray);
                margin-top: 1rem;
            }
        }
    }
}

.free {
    background-color: var(--light-gray);
    width: 75%;
    height: 37rem;
    border-radius: 5px;

    margin-top: 2rem;
    border-radius: 5px;

    &-inner {
        width: 95%;
        height: 90%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &-container {
        width: 100%;

        display: flex;
        justify-content: space-between;
    }

    &-title {
        color: #fff;
        width: 100%;
        height: 4rem;
        font-size: 1.5rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        svg {
            color: #fff;
            width: 40px;
            height: 40px;
            margin-right: 1rem;
        }
    }

    &-item {
        width: calc(100% / 2 - 10px);

        &__image {
            position: relative;
            width: 100%;
            border-radius: 5px;

            img {
                width: 100%;
                border-radius: 5px;
            }

            &-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                color: #fff;
                width: 100%;
                height: 2rem;
                font-weight: bold;

                &[data-color="0"] {
                    background-color: var(--main-blue);
                }
                &[data-color="1"] {
                    background-color: black;
                }
            }
        }

        &__info {
            margin-top: 1.5rem;

            &-name {
                color: #fff;
            }

            &-date {
                color: var(--lighter-gray);
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .featured {
        width: 95%;
        height: 25rem;

        &-cover {
            &__info {
                top: 25%;

                &-logo {
                    width: 8rem;
                }

                &-description {
                    min-height: 5rem;
                    max-height: 7rem;
                    font-size: 0.8rem;
                }

                &-buttons {
                    button {
                        padding: 0 1rem;
                    }
                }

                &-buy {
                    button {
                        font-size: 0.8rem;
                    }
                }

                &-wishlist {
                    button {
                        font-size: 0.6rem;
                    }
                }
            }
        }

        &-list {
            width: 10rem;
        }

        &-item {
            height: 4rem;
        }
    }

    .promoted {
        width: 95%;

        &-inner {
            &__info {
                h2 {
                    font-size: 1.1rem;
                }

                div {
                    font-size: 0.9rem;
                }
            }
        }
    }
}
