.featured {
    width: 75%;
    height: 40rem;

    &-poster {
        background-color: rebeccapurple;
        width: 80%;
        height: 100%;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            object-fit: cover;
        }
    }

    &-list {
        width: 16rem;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &-item {
        width: 100%;
        height: 6.5rem;
        border-radius: 15px;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:hover {
            background-color: var(--light-gray);
        }

        &__image {
            width: 4.5rem;
            height: 80%;
            margin-left: 1rem;
            border-radius: 5px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }

        &__text {
            color: #fff;
            font-size: 0.8rem;
            margin-left: 1rem;
        }
    }

    &-active {
        background: linear-gradient(var(--light-gray), var(--light-gray)) var(--dark-gray) no-repeat 0 0;
        background-size: 0 100%;
        animation: stripes 7s linear 1 forwards;
    }

    @keyframes stripes {
        to {
            background-size: 100% 100%;
        }
    }
}
