.game-page {
    position: relative;
    width: 75%;
    height: 80rem;
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__left {
        width: 70%;
        height: 100%;
    }

    &__right {
        position: relative;
        width: 20%;
        height: 100%;
    }
}

.game-page__price {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    &-logo {
        width: 100%;
        padding: 5rem 0;

        &-container {
            width: 250px;
            height: auto;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &-prices {
        color: #fff;
        margin-top: 0.5rem;

        span + span {
            margin-left: 1rem;
        }
    }
}

.game-page__buttons {
    width: 100%;
    margin-top: 0.5rem;

    button {
        width: 100%;
        margin-top: 1rem;
        border-radius: 5px;
        cursor: pointer;
    }

    &-buy {
        background-color: var(--main-blue);
        color: #fff;
        height: 3rem;
        outline: none;
        border: none;

        &:hover {
            font-weight: bold;
        }
    }

    &-cart {
        background-color: transparent;
        color: var(--account-text);
        height: 3rem;
        border: 1px solid var(--account-text);

        &:hover {
            background-color: var(--account-text);
            color: #fff;
        }
    }

    &-wishlist {
        background-color: transparent;
        color: var(--account-text);
        height: 2rem;
        border: 1px solid var(--account-text);

        svg {
            width: 20px;
            height: 20px;
            margin-right: 0.3rem;
        }

        &:hover {
            background-color: var(--account-text);
            color: #fff;
        }
    }
}

.game-page__information {
    width: 100%;
    margin-top: 0.5rem;

    &-container {
        width: 100%;
        padding: 0.5rem 0;
        border-bottom: 1px solid var(--account-text);

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-key {
        color: var(--account-text);
        width: 40%;
    }

    &-value {
        color: #fff;
        width: 50%;
        white-space: normal;
        text-align: end;
    }
}

.game-page__info {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &-poster {
        width: 100%;

        img {
            width: 100%;
        }
    }

    &-description {
        margin-top: 1rem;
        color: #fff;
        font-size: 1.5rem;
    }

    &-genres {
        color: var(--account-text);
        margin-top: 1rem;
        padding: 1rem 1rem;
        border-left: 1px solid var(--account-text);

        p {
            color: #fff;

            & + p {
                margin-left: 0.5rem;
            }
        }
    }

    &-reviews {
        width: 100%;
        margin-top: 2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &-review {
            background-color: var(--light-gray);
            width: calc(100% / 3 - 1rem);
            height: 26rem;
            padding: 1rem;
            font-size: 1.1rem;
            border-radius: 3px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        &-author {
            width: 100%;
            height: 4.5rem;
            padding: 1rem 0;
            border-bottom: 1px solid var(--account-text);

            div {
                color: #fff;

                & + div {
                    color: var(--account-text);
                }
            }
        }

        &-score {
            color: #fff;
            padding: 1rem 0;
            flex: 1;

            p {
                color: var(--account-text);
                height: 7rem;
                width: 18rem;
                margin-top: 1rem;
            }
        }

        a {
            color: var(--account-text);
            text-decoration: underline;

            &:hover {
                color: #fff;
            }
        }
    }
}
