@import url("https://fonts.googleapis.com/css2?family=Gantari&display=swap");
@import "./front-page.scss";
@import "./discover-page.scss";
@import "./logIn-createAccount.scss";
@import "./wishlist-cart.scss";
@import "./browse-page.scss";

:root {
    --background-black: rgb(18, 18, 18);
    --light-gray: #2a2a2a;
    --dark-gray: #2a2a2a8f;
    --lighter-gray: rgb(133, 133, 133);
    --link-gray: rgb(140, 140, 140);
    --input-gray: rgb(32, 32, 32);
    --main-blue: #0078f2;
    --secondary-blue: #0062be;
    --error-main: #de3341;
    --error-secondary: #d54841;
}

* {
    font-family: "Gantari", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: var(--background-black);
}

.page-container {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.space-between-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game {
    width: 100%;

    &-image {
        position: relative;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;

            object-fit: cover;
        }
    }

    &-info {
        color: #fff;
        max-width: 90%;
        height: 5rem;
        margin-top: 0.5rem;

        &__price {
            margin-top: 0.5rem;
        }
    }
}

.game-horizontal {
    color: #fff;
    width: 100%;

    &__image {
        position: relative;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    &__info {
        width: 90%;
        margin-top: 1rem;

        &-description {
            color: var(--lighter-gray);
            margin: 1rem 0;
        }
    }
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.wishlist {
    &-button {
        position: absolute;
        top: calc(0% + 10px);
        left: calc(100% - 30px);
        background-color: transparent;
        color: none;
        border: none;
        outline: none;
        z-index: 100;
        border: none;
        cursor: pointer;

        svg {
            color: white;
            background-color: black;
            outline: 2px solid white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }

    &-info {
        position: absolute;
        top: calc(0% - 40px);
        left: calc(100% - 90px);
        background-color: var(--light-gray);
        color: var(--lighter-gray);
        width: 150px;
        padding: 7px 10px;
        margin-bottom: 1.5rem;
        border-radius: 5px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 1000px) {
    .game {
        width: 100%;
        min-height: 15rem;

        &-info {
            color: #fff;
            max-width: 100%;
            height: auto;
            font-size: inherit;
            margin-top: 0.5rem;
            overflow: hidden;
            text-overflow: ellipsis;

            &__price {
                margin-top: 0.5rem;
            }
        }
    }
}
