.wishlist,
.cart {
    color: #fff;
    width: 75%;
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-left {
        width: 80%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &-right {
        width: calc(20% - 3rem);
    }

    &-container {
        width: 100%;
    }

    &-title {
        font-size: 4rem;
    }
}

.wishlist {
    &-sort {
        position: relative;
        color: var(--link-gray);
        margin-top: 1rem;
        padding: 0.7rem 0;

        &__item {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-button {
                background-color: transparent;
                color: var(--link-gray);
                font-size: 0.9rem;
                border: none;
                margin-left: 0.5rem;
                cursor: pointer;

                svg {
                    width: 12px;
                    height: 12px;
                    margin-left: 0.3rem;
                    transition: transform 0.2s linear;
                }

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &-dropdown {
        position: absolute;
        top: 100%;
        left: 5%;
        background-color: var(--light-gray);
        padding: 0.5rem 0.5rem 1rem 0.5rem;
        list-style: none;
        z-index: 50;
        border-radius: 5px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        li {
            margin: 0.25rem 0;
        }

        &__item {
            background-color: transparent;
            color: var(--link-gray);
            border: none;
            cursor: pointer;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }

            &-active {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}

.cart {
    &-left {
        width: 75%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &-right {
        width: calc(25% - 3rem);
    }

    &-title {
        margin-bottom: 2rem;
    }

    &-summary {
        margin-top: 6rem;

        &__title {
            font-size: 2.3rem;
            text-align: center;
            margin-bottom: 2rem;
        }

        &__top {
            border-bottom: 1px solid var(--link-gray);
        }

        &__container {
            margin: 1rem 0;
        }

        span {
            color: var(--link-gray);
        }

        button {
            background-color: var(--main-blue);
            color: #fff;
            width: 100%;
            height: 3rem;
            margin-top: 1rem;
            border: none;
            border-radius: 5px;
            font-weight: bold;
        }
    }
}

.wishlist-item,
.cart-item {
    background-color: var(--dark-gray);
    width: 100%;
    height: 14rem;
    border-radius: 5px;
    margin-bottom: 1rem;

    &:hover {
        background-color: var(--light-gray);
    }

    &__inner {
        width: 98%;
        height: 90%;
    }

    &__image {
        width: 9rem;
        height: 100%;
        margin-left: 1rem;
        border-radius: 5px;

        img {
            width: 100%;
            border-radius: 5px;
        }
    }

    &__info {
        width: calc(100% - 11rem);
        height: 95%;

        &-container {
            width: 100%;
        }

        &-name {
            font-size: 1.3rem;
        }
    }
}

.wishlist-item {
    &__info {
        &-cart {
            background-color: transparent;
            color: var(--link-gray);
            border: none;
            border-radius: 5px;
            outline: 1px solid var(--link-gray);
            font-size: 1.1rem;
            cursor: pointer;
            padding: 1rem 3rem;

            &:hover {
                background-color: var(--lighter-gray);
                color: #fff;
                outline-color: #fff;
            }
        }

        &-remove {
            background-color: transparent;
            color: var(--link-gray);
            text-decoration: underline;
            border: none;
            font-size: 1.1rem;
            cursor: pointer;
            margin-right: 1.5rem;

            &:hover {
                color: #fff;
            }
        }
    }
}

.cart-item {
    margin-bottom: 1rem;

    &:hover {
        background-color: var(--dark-gray);
    }

    button {
        color: var(--link-gray);
        background-color: transparent;
        border: none;
        text-decoration: underline;
        cursor: pointer;
        font-size: 1.1rem;

        &:hover {
            color: #fff;
        }
    }

    &__info-wishlist {
        margin-right: 1rem;
        color: var(--link-gray);
        cursor: pointer;

        &:hover {
            color: #fff;
        }

        svg {
            width: 20px;
            height: 20px;
            margin-right: 0.3rem;
        }
    }
}

//TODO move this to the filter components/css

.wishlist-empty,
.cart-empty {
    color: #fff;
    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__container {
        width: 100%;
    }

    &__inner {
        padding: 8rem 0;

        &-svg {
            background: var(--main-blue);
            display: inline-block;
            height: 60px;
            margin-left: 20px;
            margin-top: 55px;
            margin-bottom: 2rem;
            position: relative;
            width: 60px;
            transform: rotate(180deg);

            &:before {
                border-bottom: 15px solid var(--main-blue);
                border-left: 30px solid transparent;
                border-right: 30px solid transparent;
                content: "";
                height: 0;
                left: 0;
                position: absolute;
                top: -15px;
                width: 0;
            }

            svg {
                width: 30px;
                height: 30px;
                transform: rotate(180deg);
            }
        }

        &-desc {
            font-size: 3rem;
        }

        &-link {
            color: var(--link-gray);
            margin-top: 1rem;
            font-size: 2rem;
            padding: 0.25rem 0;
            border-bottom: 2px solid var(--light-gray);

            &:hover {
                color: #fff;
                border-color: #fff;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .wishlist {
        width: 92%;

        &-left {
            width: 75%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &-right {
            width: calc(25% - 2rem);
        }
    }

    .wishlist-item {
        background-color: var(--dark-gray);
        width: 100%;
        height: 10rem;
        border-radius: 5px;

        &:hover {
            background-color: var(--light-gray);
        }

        &__inner {
            width: 98%;
            height: 90%;
        }

        &__image {
            width: 7rem;
            height: 100%;
            margin-left: 1rem;
            border-radius: 5px;

            img {
                width: 100%;
                border-radius: 5px;
            }
        }

        &__info {
            width: calc(100% - 9.5rem);

            &-name {
                font-size: 1rem;
            }
        }

        &__info {
            &-cart {
                padding: 0.7rem 2rem;
            }
        }
    }

    .cart {
        width: 90%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-left,
        &-right {
            width: 100%;
        }

        &-summary {
            margin-top: 2rem;
        }
    }

    .wishlist-empty,
    .cart-empty {
        width: 95%;

        &__inner {
            &-desc {
                text-align: center;
            }
        }
    }
}
